/**
 * Norma:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 *
 * metodologia: First Mobile;
 */

 /*	Header
===========================================================*/
.header {
	/* le asigne position relative para que la sombra funcione */
	position: relative;
	z-index: 50;
	line-height: 10vh;
	font-size: 3vh;
	background-color: #2ecc71;
	-webkit-box-shadow: 0 4px 8px #222;
	        box-shadow: 0 4px 8px #222;
}