/**
 * Norma:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 *
 * metodologia: First Mobile;
 */

/*	Slider-Container
===========================================================*/
.slider-container {
	position: relative;
	width: 100%;
	height: 85vh;
	overflow: hidden;
	background: #111;
}

/** los items del slider estaran en el centro del slideshow y desactivados
 *  y se utiliza la propiedad transform porque consume menos recursos;
 */
.slider-item {
	position: absolute; 
	top: 0;
	display: none;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 1s ease-in-out;
	transition: -webkit-transform 1s ease-in-out;
	-o-transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

/** el  item se ubicara en el centro */
.slider-item--center { 
	z-index: 15;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}

/** el item se obicara a la derecha */
.slider-item--right { 
	-webkit-transform: translateX(100%); 
	    -ms-transform: translateX(100%); 
	        transform: translateX(100%); 
}


/** el item se ubicara a la izquierda */
.slider-item--left { 
	-webkit-transform: translateX(-100%); 
	    -ms-transform: translateX(-100%); 
	        transform: translateX(-100%); 
}

/** mantiene activo tres items en el slideshow */
.slider-item--right,
.slider-item--center,
.slider-item--left { 	display: block; }

.img-1 { background-image: url( "../img/slider-img/imagen-1.jpg" ); }
.img-2 { background-image: url( "../img/slider-img/imagen-2.jpg" ); }
.img-3 { background-image: url( "../img/slider-img/imagen-3.jpg" ); }
.img-4 { background-image: url( "../img/slider-img/imagen-4.jpg" ); }

/** definicion del contenerdor que tendra la imagen de decoracion */
.slider-item__img {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	        background-size: cover;
	background-position: center center;
}

/* sobreponer color sobre las imagenes */
.color {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.color--blue 		{ background: rgba(0,100,255,.6 ); }
.color--orange 	{ background: rgba(255,140,0,.6 ); }
.color--purple	{ background: rgba(159,0,254,.6 ); }
.color--green 	{ background: rgba(3,212,0,.6); }

.slider-item__title {
	font-size: 10vmin;
	font-weight: bold;
	text-shadow: 1px 0 2px #111,
							 -1px 0 2px #111,
							 0 1px 2px #111, 
							 0 -1px 2px #111;
}

.slider-arrow {
	position: absolute;
	z-index: 20;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	display: none;
	width: 6vmax;
	line-height: 10vmax;
	font-size: 3.5vmax;
	background-color: rgba( 150, 150, 150, .6 );
	cursor: pointer;
	-webkit-box-shadow: 0 5px 6px #222;
	        box-shadow: 0 5px 6px #222;
	-webkit-transition: background-color .5s;
	-o-transition: background-color .5s;
	transition: background-color .5s;
}

.slider-arrow:hover { 
	color: #fa0;
	background-color: rgba( 100, 100, 100, .9 );
}

.arrow-left {
	left: 0;
	text-align: center;
	-webkit-border-radius:  0 90% 90% 0 / 0 50% 50% 0;
	        border-radius:  0 90% 90% 0 / 0 50% 50% 0;
}

.arrow-right {
	right: 0;
	text-align: center;
	-webkit-border-radius:  90% 0 0 90% / 50% 0 0 50%;
	        border-radius:  90% 0 0 90% / 50% 0 0 50%;
}


@media (min-width: 480px) and (max-width: 767px) {

	.img-1 { background-image: url( "../img/slider-img-480w/imagen-1-480w.jpg" ); }
	.img-2 { background-image: url( "../img/slider-img-480w/imagen-2-480w.jpg" ); }
	.img-3 { background-image: url( "../img/slider-img-480w/imagen-3-480w.jpg" ); }
	.img-4 { background-image: url( "../img/slider-img-480w/imagen-4-480w.jpg" ); }
}


@media (min-width: 768px) {

	.slider-container { height: 90vh; }
	.slider-arrow { display: block; }
}

@media (min-width: 768px) and (max-width: 1199px) {

	.img-1 { background-image: url( "../img/slider-img-768w/imagen-1-768w.jpg" ); }
	.img-2 { background-image: url( "../img/slider-img-768w/imagen-2-768w.jpg" ); }
	.img-3 { background-image: url( "../img/slider-img-768w/imagen-3-768w.jpg" ); }
	.img-4 { background-image: url( "../img/slider-img-768w/imagen-4-768w.jpg" ); }
}

@media (min-width: 1200px) {

	.img-1 { background-image: url( "../img/slider-img-1200w/imagen-1-1200w.jpg" ); }
	.img-2 { background-image: url( "../img/slider-img-1200w/imagen-2-1200w.jpg" ); }
	.img-3 { background-image: url( "../img/slider-img-1200w/imagen-3-1200w.jpg" ); }
	.img-4 { background-image: url( "../img/slider-img-1200w/imagen-4-1200w.jpg" ); }
}